.product-description__costs_item {
    position: relative;
    width: 178px;
    height: 117px;
}
.product-description__costs_item:not(:first-child) {
    margin-left: 55px;
}

.product-description__cost_sun {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    background: #FFC700;
}

.product-description__cost_wrpapper {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 160px;
    height: 100px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.product-description__cost_wrpapper > .text { 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #0499DD;
}


.product-description__cost_wrpapper > .text > img {
    margin-right: 10px;
}

.product-description__cost_wrpapper > p {
    color: #282828;
}

@media (max-width: 768px) {
    .product-description__costs_item:not(:first-child) {
        margin-left: 35px;
    }
}

@media (max-width: 428px) {
    .product-description__costs_item:not(:first-child) {
        margin-left: 0px;
    }
    .product-description__costs_item{
        margin-top: 20px;
    }
}