.home-tours {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.home-tours__title {
    margin-top: 150px;
    width: 100%;
}

.home-tours__title .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

